.feynman {
    display: flex;
    min-height: 890px;
    flex-direction: column;
    background-color: #f2f2f2;
    align-items: center;
    background-image: url(../../images/feynman.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 867px 637px;
}