.cards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    padding: 0;
    list-style-type: none;
    margin: 0px 100px 0px 0px;
}

.cards__item:nth-child(3n) {
    margin-right: 0px;
}