.all-link {
    color: #2f80ed;
    text-decoration: none;
}


.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
    margin: 0 auto;

}

/* блок header */

.header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    /* Если элементы должны быть выровнены абсолютно родителя - то родителю нужно написать position: relative */
    overflow: hidden;
    /* не позволяем фигуре переходить на другой блок */
    background-color: #f2f2f2;

}


.logo_place_header {
    background-image: url(../images/logo_place_header.svg);
    position: absolute;
    width: 183px;
    height: 32px;
    margin: 30px 64px auto;
    z-index: 99;
}

.header__title {
    align-self: center;
    width: 730px;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index: 98;
}


.header__subtitle {
    font-size: 18px;
    line-height: 25px;
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    z-index: 97;

}

/* .header__link{
    перенесено в свойства all-link
} */

.header__main-illustration {
    /*background-image: url(../images/header-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: right; исправление на тег <img>
    */
    right: 0;
    z-index: 3;
    position: absolute;
    width: 765px;
    height: 608px;
}

.header__square-pic {
    background-color: #2f80ed;
    width: 568px;
    height: 568px;
    right: 0;
    top: 64px;
    position: absolute;
}

/* Блок description */

.description {
    display: flex;
    justify-content: center;

}

.two-columns {
    display: flex;
    flex-direction: row;
    min-width: 784px;
    justify-content: space-between;
    margin: 100px 0px 100px;
    padding: 0;
    width: 80%;
}

.two-columns__brief {
    width: 175px;
    font-size: 18px;
    line-height: 1.2;
    color: #2f80ed;
    margin: 0;
    font-weight: lighter;
}

/* .two-columns__brief_h2{
    font-size: 18px;
} */

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    line-height: 34px;
    /* высота строки */

}

.two-columns__paragraph {
    font-size: 24px;
}

.two-columns__paragraph:first-of-type {
    margin: 0px auto 30px;

}

.two-columns__paragraph:last-of-type {
    margin: 30px auto 0px;
}

.two-columns__span-accent {
    font-weight: bold;
    /*   margin:30px 0 30px; эти оступы регулируются теперь псевдоклассами  */
}

/* Блок digits */

.digits {
    display: flex;
    flex-direction: column;
    margin: 100px auto 100px;
    align-items: center;
    
}

.section-title {
    margin: 100px auto 20px;
    width: 60%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.15;

}

/* .section-title_h2{
    font-size: 60px;
} */

.section-subtitle {

    width: 60%;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 0px;
}

.table {
    margin: 0px auto 100px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

/* .sub_table {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

.table__cell {
    width: 250px;
    margin: 60px auto 0px;

}

.table__heading {
    margin-top: 0px;
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
}

.table__text {
    margin: 20px auto 0px;
    font-size: 18px;
    line-height: 1.2;
}


/* Блок Feynman */


.feynman {
    display: flex;
    height: 890px;
    flex-direction: column;
    position: relative;
    /* Если элементы должны быть выровнены абсолютно родителя - то родителю нужно написать position: relative */
    /* перенес в нтмл в тег <img> 
    background-image: url(../images/feynman.png); */

    /*если в блоке картинка задается фоном через css, и мы хотим вырвать её из потока "absolute", то её место 
    в контейнере задается через background-position. Другой вариант в html - тег img, тогда в блоке картинки 
    ставим "position absolute" и там же указываем её место с помощью top, left и так далее*/

    /* background-repeat: no-repeat;
    background-position: bottom left;*/
    background-color: #f2f2f2;
    padding: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    margin: 0 auto;
}

.feynman__title {
    width: 648px;
    z-index: 3;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin: 100px 0 70px;
    text-align: center;

}

/* .feynman__title_h2 {
    text-align: center;
} */

.feynman__subtitle {
    font-size: 36px;
    line-height: 51px;
    margin: 0;
    z-index: 3;
}

.feynman__link {
    position: absolute;
    right: 48px;
    top: 50%;
    font-size: 36px;
    line-height: 51px;


}

/* .feynman__link_underline{
    text-decoration: none;
} перенес с описанние тега <a> */

.feynman__image {

    /* если через backgroung-image - то без position absolute. Если через тег img, то через position absolute */
    width: 867px;
    height: 637px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
}

/* Блок kaufman */

.kaufman {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1f;


}

.section-title_theme_dark {
    width: 60%;
    text-align: center;
    font-size: 60px;
    line-height: 1.15;
    margin: 90px auto 20px;
    color: white;
    z-index: 2;

}

.section-subtitle_theme_dark {
    width: 60%;
    margin: 0px auto 0px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: white;
    z-index: 2;

}

.table_theme_dark {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    z-index: 3;
    margin: 0 auto 90px;

}

/* .table_theme_dark_row_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
    z-index: 3;

}

.table_theme_dark_row_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 90px;
    z-index: 3;

}
*/
.cell_theme_dark {
    margin: 80px 0px 0px;
    width: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.heading_theme_dark {

    margin: 0px 0px 20px;
    font-size: 24px;
    line-height: 1.15;
}

.text_theme_dark {
    margin: 0 auto 0px;
    font-size: 18px;
    line-height: 1.2;

}

.kaufman__triangle {
    background-image: url(../images/kaufman-triangle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 877px;
    height: 877px;
    right: -210px;
    z-index: 1;


}

/* footer */

.footer {
    
    min-height: 350px;
    background-color: #1f1f1f;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 60px 40px; /* размеры закладываем через padding и свойства box-sizing, чтобы при высоте 350px соблюдалась заложенная брифом размерность блока footer */

}

/* .footer__background_black{
    background-color: #1f1f1f;
    перенесено в .footer
} */


.footer__columns {
    
    display: flex;
    flex-direction: row;
    position: relative;
    width: 90%;
    justify-content: space-between;
    

}

.footer__column_content_copyright {
    
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    flex-basis: 711px;
}



.logo_place_footer {
    background-image: url(../images/logo_place_footer.svg);
    width: 183px;
    height: 35px;
}

.footer__author {
    margin: 18px 0;
    line-height: 25px;
    font-size: 18px;
    color: white;
}

.footer__column_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
}

.footer__column-heading {
    
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0 20px;
    color: white;
}

.footer__column_content_social {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: flex-start;
}

.footer__column-links {

    display: flex;
    flex-direction: column;
}

.footer__column-link {

    line-height: 30px;
    font-size: 18px;
    margin: 0px;
    color: white;
    text-decoration: none;
    padding: 0;


}

/* .column-social {
    display:flex;
    flex-direction:column;
}*/

.footer__column-list {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 0;
    /* сдвигаю элементы списка влево, убираю отступ */
    margin: 0px 0px 16px;
}

.footer__column-list-paragraph {
    list-style: none;
    margin: 0px;
}

.footer__column_list_paragraph:last-of-type {
    margin-bottom: 16px;
}

/* .footer__column_social_value {border:rgb(255, 0, 140) 3px solid;
    margin:0;
    padding: 0;
    
    
} */

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
}



/* .theme_dark_color-text {
    color: white;
} */



.background__grey {
    background-color: #f2f2f2;
}

/* 
.background__black {

    background-color: #1f1f1f;
}
*/


/* резервный код 
.footer__column_info{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    }

.footer__column-heading {
    line-height: 30px;
    font-size:18px;
    font-weight:bold;
    margin: 0px auto 20px;
    color: white;
    
}

.footer__column_content_social{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer__column-links{
    
    display:flex;
    flex-direction: column;
    margin:0px;
    padding:0; /* убираем отступ у тега ol в .footer__column-link и прижимаем их к левому краю 
}

.footer__column-link {
    
    line-height:30px;
    font-size:18px;
    margin-bottom: 16px;
    color: white;
    margin-left: 0; /* Отступ слева в браузере IE и Opera 
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome 
    list-style: none;
    
}

.column-social {
    display:flex;
    flex-direction:column;
}

.footer__column_social_value {
    display:flex;
    flex-direction:row;
}

.footer__social-icon {
    display:flex;
    flex-direction:row;
    width:16px;
    height:16px;
    justify-content: space-between;
}

.footer__social-icon_paragraph {
    margin-top: 18px;
}

.footer__social-icon_facebook {
    margin:0 10px 0 0;
    background-image: url(../images/facebook_color_white.svg);

}

.footer__social-icon_VK{
    margin:0 10px 0 0;
   background-image:url(../images/vk_color_white.svg); 
}

.footer__social-icon_instagram{
    margin:0 10px 16px 0;
    background-image:url(../images/instagram_color_white.svg);
}

/* .theme_dark_color-text {
    color: white;
} 

.footer__link_color{
    color:white;
    text-decoration:none;
}

.background__grey {
    background-color: #f2f2f2;
} */